## git status
## git add .
## git commit -m "comment"
## git push

## 
## to refresh github ...
## 
## git add .
## git commit -m "a comment"
## git push

<a id='table_of_contents'></a>

0. [Import libraries](#imports)
1. [Import data](#import_data)
2. [Data exploration](#data_exploration)
3. [Data cleaning](#data_cleaning)
4. [Data preparation](#data_preparation)
5. [Benchmark model](#benchmark_model)<br>
6. [Feature engineering](#feature_engineering)
7. [Model training](#model_training)<br>
    7.1. [Decision Tree](#decision_tree)<br>
    7.2. [Random Forest](#random_forest)<br>
    7.3. [Comparing algorithm performances](#comparing_algorithm_performances)
8. [Tuning](#tuning)<br>

# 0. Import libraries <a id='imports'></a>
[Back to top](#table_of_contents)

In [1]:
import pandas
import pyarrow.parquet as pq

# 1. Import data <a id='import_data'></a>
[Back to top](#table_of_contents)

In [2]:

trips_df = pq.read_table('./data/yellow_tripdata_2019-01.parquet')
trips_df = trips_df.to_pandas()

In [3]:
display( trips_df.head(20) )
display( trips_df.shape )

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.50,1.0,N,151,239,1,7.0,0.5,0.5,1.65,0.00,0.3,9.95,NaN,None
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.60,1.0,N,239,246,1,14.0,0.5,0.5,1.00,0.00,0.3,16.30,NaN,None
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.00,1.0,N,236,236,1,4.5,0.5,0.5,0.00,0.00,0.3,5.80,NaN,None
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.00,1.0,N,193,193,2,3.5,0.5,0.5,0.00,0.00,0.3,7.55,NaN,None
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.00,2.0,N,193,193,2,52.0,0.0,0.5,0.00,0.00,0.3,55.55,NaN,None
5,2,2018-11-28 16:25:49,2018-11-28 16:28:26,5.0,0.00,1.0,N,193,193,2,3.5,0.5,0.5,0.00,5.76,0.3,13.31,NaN,None
6,2,2018-11-28 16:29:37,2018-11-28 16:33:43,5.0,0.00,2.0,N,193,193,2,52.0,0.0,0.5,0.00,0.00,0.3,55.55,NaN,None
7,1,2019-01-01 00:21:28,2019-01-01 00:28:37,1.0,1.30,1.0,N,163,229,1,6.5,0.5,0.5,1.25,0.00,0.3,9.05,NaN,None
8,1,2019-01-01 00:32:01,2019-01-01 00:45:39,1.0,3.70,1.0,N,229,7,1,13.5,0.5,0.5,3.70,0.00,0.3,18.50,NaN,None
9,1,2019-01-01 00:57:32,2019-01-01 01:09:32,2.0,2.10,1.0,N,141,234,1,10.0,0.5,0.5,1.70,0.00,0.3,13.00,NaN,None
10,1,2019-01-01 00:24:04,2019-01-01 00:47:06,2.0,2.80,1.0,N,246,162,1,15.0,0.5,0.5,3.25,0.00,0.3,19.55,NaN,None
11,1,2019-01-01 00:21:59,2019-01-01 00:28:24,1.0,0.70,1.0,N,238,151,1,5.5,0.5,0.5,1.70,0.00,0.3,8.50,NaN,None
12,1,2019-01-01 00:45:21,2019-01-01 01:31:05,1.0,8.70,1.0,N,163,25,1,34.5,0.5,0.5,7.15,0.00,0.3,42.95,NaN,None
13,1,2019-01-01 00:43:19,2019-01-01 01:07:42,1.0,6.30,1.0,N,224,25,1,21.5,0.5,0.5,5.70,0.00,0.3,28.50,NaN,None
14,1,2019-01-01 00:58:24,2019-01-01 01:15:18,1.0,2.70,1.0,N,141,234,1,13.0,0.5,0.5,1.00,0.00,0.3,15.30,NaN,None
15,2,2019-01-01 00:23:14,2019-01-01 00:25:40,1.0,0.38,1.0,N,170,170,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80,NaN,None
16,2,2019-01-01 00:39:51,2019-01-01 00:48:02,1.0,0.55,1.0,N,170,170,1,6.5,0.5,0.5,1.95,0.00,0.3,9.75,NaN,None
17,2,2019-01-01 00:46:00,2019-01-01 00:49:07,1.0,0.30,1.0,N,107,107,1,4.0,0.5,0.5,1.06,0.00,0.3,6.36,NaN,None
18,2,2019-01-01 00:57:45,2019-01-01 01:03:51,1.0,1.42,1.0,N,170,141,1,6.5,0.5,0.5,1.56,0.00,0.3,9.36,NaN,None
19,2,2019-01-01 00:16:16,2019-01-01 00:25:57,1.0,1.72,1.0,N,41,247,2,9.0,0.5,0.5,0.00,0.00,0.3,10.30,NaN,None

(7696617, 19)

# 2. Data exploration <a id='data_exploration'></a>
[Back to top](#table_of_contents)

# 3. Data cleaning <a id='data_cleaning'></a>
[Back to top](#table_of_contents)

# 4. Data preparation <a id='data_preparation'></a>
[Back to top](#table_of_contents)

# 5. Benchmark model <a id='benchmark_model'></a>
[Back to top](#table_of_contents)

# 6. Feature engineering <a id='feature_engineering'></a>
[Back to top](#table_of_contents)

# 7. Model training <a id='model_training'></a>
[Back to top](#table_of_contents)

## 7.1. Decision tree <a id='decision_tree'></a>

## 7.2. Random forest <a id='random_forest'></a>

## 7.3. Comparing algorithm performances <a id='comparing_algorithm_performances'></a>

# 8. Tuning <a id='tuning'></a>
[Back to top](#table_of_contents)